# Entity alias mappings - user terms to normalized entities
aliases:
  # Cable Modem mappings
  cm:
    - "cable modem"
    - "modem"
    - "CM"
    - "cablemodem"
  
  md_id:
    - "MdId"
    - "modem_id"
    - "ModemId"
    - "md-id"
  
  # Package/Service mappings
  package:
    - "pkg"
    - "service"
    - "plan"
    - "Package"
  
  # Error/Issue mappings
  error:
    - "err"
    - "exception"
    - "failure"
    - "issue"
    - "problem"

# Entity relationships for iterative exploration
relationships:
  cm:
    - md_id
    - mac_address
    - ip_address
  
  md_id:
    - cm
    - rpd
    - package
    - downstream_channel
  
  package:
    - md_id
    - service_group
    - billing_account
  
  error:
    - timestamp
    - severity
    - module
    - entity_id

# Entity extraction patterns (regex)
patterns:
  cm:
    - "CM\\d{4,6}"
    - "modem[_\\s]*(\\d+)"
  
  md_id:
    - "MdId[:\\s]*(\\d+)"
    - "modem_id[:\\s]*(\\d+)"
  
  mac_address:
    - "([0-9A-Fa-f]{2}[:-]){5}([0-9A-Fa-f]{2})"
  
  ip_address:
    - "\\b(?:[0-9]{1,3}\\.){3}[0-9]{1,3}\\b"
  
  timestamp:
    - "\\d{4}-\\d{2}-\\d{2}\\s\\d{2}:\\d{2}:\\d{2}"
